p{ font-family: ubuntu;
}

#bridge {
	position:relative;
	width: 100%;
	height: auto;
}

#form {
	font: 15px Roboto; 
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(45deg,  #f85032 0%, #f6290c 0%, #f16f5c 26%, #e73827 70%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f85032), color-stop(0%,#f6290c), color-stop(26%,#f16f5c), color-stop(70%,#e73827)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #f85032 0%,#f6290c 0%,#f16f5c 26%,#e73827 70%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #f85032 0%,#f6290c 0%,#f16f5c 26%,#e73827 70%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #f85032 0%,#f6290c 0%,#f16f5c 26%,#e73827 70%); /* IE10+ */
background: linear-gradient(45deg,  #f85032 0%,#f6290c 0%,#f16f5c 26%,#e73827 70%); /* W3C */

	width: 500px;
	position:absolute;
	top: 135px;
	right:135px;
	border-radius: 10px;
	padding 10px;
	border-style: solid;
	border-color: black;
	border-width: medium;
	height: 500px;
}

#form li {
	font: 15px Roboto;
}
#form h1 {
	font: bold 45px Roboto;
	color: white
}

input [type=submit] {
background: #ffa84c;
width: 200px;
height: 100px;
}

.space {
	padding: 10px;
}
