
p{ font-family: ubuntu;
}

#bridge {
	position:relative;
	width: 100%;
	height: auto;
}

#header_wording {
	color: white;
	font: bold 4px/45px Roboto; 
	background: rgba(0,0,0, 0.5);
	position:absolute;
	top: 200px;
	right:200px;
	border-radius: 10px;
	padding 10px;
}
#space {
	padding: 10px;
}
