

#form_benefits {
	
	background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2989d8 64%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#207cca), color-stop(64%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}

#benefits {
	width: 48%;
	float: left;
	font: 1.4em Slabo;
	font-weight: bold;
	list-style-image:url(Semi_success_Icon_128.png);
}

#benefits ul {
	color: white;
	    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
}

#benefits p {
	font: 1.3em Marvel;
	font-style: italic;
	top: 49%;
	width:90%;
	left:2%;
	background: red;
	border: solid 1px black;
	border-radius: 2%;
	text-align:center;
	-webkit-box-shadow: 9px 9px 11px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    9px 9px 11px 0px rgba(50, 50, 50, 0.75);
box-shadow:         9px 9px 11px 0px rgba(50, 50, 50, 0.75);

}

#form {
	width: 48%;
	height: auto;
	display: inline;
}

#form h1{
	font:2em Roboto;
	text-align: center;
	color: white;
	    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
}

.form {
	text-align:center;
	font: 1.4em Slabo;
	text-align:center;


}

.form p{
	text-align:right;
	margin-right:18%;
}

.btn {
  background: #f50c0c;
  background-image: -webkit-linear-gradient(top, #f50c0c, #ba171f);
  background-image: -moz-linear-gradient(top, #f50c0c, #ba171f);
  background-image: -ms-linear-gradient(top, #f50c0c, #ba171f);
  background-image: -o-linear-gradient(top, #f50c0c, #ba171f);
  background-image: linear-gradient(to bottom, #f50c0c, #ba171f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 5px 5px 6px #666666;
  -moz-box-shadow: 5px 5px 6px #666666;
  box-shadow: 5px 5px 6px #666666;
  font-family: slabo;
  color: #fafafa;
  font-size: 1em;
  top:1px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  background: #f59e08;
  background-image: -webkit-linear-gradient(top, #f59e08, #ebb512);
  background-image: -moz-linear-gradient(top, #f59e08, #ebb512);
  background-image: -ms-linear-gradient(top, #f59e08, #ebb512);
  background-image: -o-linear-gradient(top, #f59e08, #ebb512);
  background-image: linear-gradient(to bottom, #f59e08, #ebb512);
  text-decoration: none;
}

#p_l {
	text-align: left;
}

.inputter {
	height:40px;
	border-radius:7%;
}
::-webkit-input-placeholder {
   font: 1.2em Slabo;
}

:-moz-placeholder { /* Firefox 18- */
   font: 1.2em Slabo;
}

::-moz-placeholder {  /* Firefox 19+ */
   font: 1.2em Slabo;
}

:-ms-input-placeholder {  
    font: 1.2em Slabo;
}
#arrow {
	margin-left: 80%;
}

#choose_local {
	width: 28%;	
	float:left;
}

#choose_independent {
	width: 28%;
}

#choose_now {
	width: 28%;
	float:right;
}
