header {
	width:100%
}

#form_benefits {
	width 100%;
		background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2989d8 64%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#207cca), color-stop(64%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2989d8 64%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}

#benefits {
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
	float: left;
	font: 1.4em Slabo;
	font-weight: bold;
	list-style-image:url(Semi_success_Icon_128.png);
}

#form {
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
}

#container {
	display:none;
}

footer {
	width:100%;
}
